<a href="https://colab.research.google.com/github/ashruthi6/2025-2026--AI-B--DS--A_Shruthi_4111/blob/main/week4/16)sqlite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#16)Write a python code to perform the following database operations using SQLite(CRUD Operations)

In [1]:
import sqlite3

# connect to database (creates file if not exists)
con = sqlite3.connect("student.db")
cur = con.cursor()

# CREATE TABLE
cur.execute("create table if not exists student(id integer primary key, name text, marks integer)")

# INSERT (Create)
cur.execute("insert into student(name, marks) values('Ravi', 85)")
cur.execute("insert into student(name, marks) values('Anu', 90)")
con.commit()

# READ
print("Student Records:")
cur.execute("select * from student")
rows = cur.fetchall()
for row in rows:
    print(row)

# UPDATE
cur.execute("update student set marks = 95 where name = 'Ravi'")
con.commit()

print("\nAfter Update:")
cur.execute("select * from student")
rows = cur.fetchall()
for row in rows:
    print(row)

# DELETE
cur.execute("delete from student where name = 'Anu'")
con.commit()

print("\nAfter Delete:")
cur.execute("select * from student")
rows = cur.fetchall()
for row in rows:
    print(row)

# close connection
con.close()

Student Records:
(1, 'Ravi', 85)
(2, 'Anu', 90)

After Update:
(1, 'Ravi', 95)
(2, 'Anu', 90)

After Delete:
(1, 'Ravi', 95)