<a href="https://colab.research.google.com/github/ashruthi6/2025-2026--AI-B--DS--A_Shruthi_4111/blob/main/week4/18)datacleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#18)Implement the data cleaning operations on any data set using URL

In [2]:

import pandas as pd
import numpy as np

u = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"

d = pd.read_csv(u)

print("=== Original Dataset Info ===")
print(d.info())

print("\nMissing Values Before Cleaning:")
print(d.isnull().sum())

print("\nFirst 5 rows:")
print(d.head())

d = d.drop_duplicates()

d["age"] = d["age"].fillna(d["age"].mean())
d["embarked"] = d["embarked"].fillna(d["embarked"].mode()[0])

print("\n=== Missing Values After Filling ===")
print(d.isnull().sum())

if "deck" in d.columns:
    d = d.drop(columns=["deck"])

print("\n=== Columns After Dropping 'deck' ===")
print(d.columns)

d["survived"] = d["survived"].astype("category")
d["pclass"] = d["pclass"].astype("category")

print("\n=== Data Types After Conversion ===")
print(d.dtypes)

d.columns = d.columns.str.lower()

print("\n=== Columns After Renaming ===")
print(d.columns)

q1 = d["age"].quantile(0.25)
q3 = d["age"].quantile(0.75)
iqr = q3 - q1

low = q1 - 1.5 * iqr
high = q3 + 1.5 * iqr

b = len(d)
d = d[(d["age"] >= low) & (d["age"] <= high)]
a = len(d)

print("\nRemoved", b - a, "outlier rows based on Age")

d.to_csv("cleaned_titanic.csv", index=False)

print("\nData Cleaning Completed Successfully!")
print("Cleaned file saved as: cleaned_titanic.csv")

print("\n=== First 5 rows of Cleaned Dataset ===")
print(d.head())

=== Original Dataset Info ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB
None

Missing Values Before Cleaning:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

First 5 rows:
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

=== Missing Values After Filling ===
survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         0
class            0
who              0
adult_male       0
deck           582
embark_town      2
alive            0
alone            0
dtype: int64

=== Columns After Dropping 'deck' ===
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'embark_town', 'alive',
       'alone'],
      dtype='object')

=== Data Types After Conversion ===
survived       category
pclass         category
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class            object
who              object
adult_male         bool
embark_town      object
alive            object
alone              bool
dtype: object

=== Columns After Renaming ===
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'embark_town', 'alive',
       'alone'],
      dtype='object')

Removed 39 outlier rows based on Age

Data Cleaning Completed Successfully!
Cleaned file saved as: cleaned_titanic.csv

=== First 5 rows of Cleaned Dataset ===
  survived pclass     sex   age  sibsp  parch     fare embarked  class    who  \
0        0      3    male  22.0      1      0   7.2500        S  Third    man
1        1      1  female  38.0      1      0  71.2833        C  First  woman
2        1      3  female  26.0      0      0   7.9250        S  Third  woman
3        1      1  female  35.0      1      0  53.1000        S  First  woman
4        0      3    male  35.0      0      0   8.0500        S  Third    man

   adult_male  embark_town alive  alone
0        True  Southampton    no  False
1       False    Cherbourg   yes  False
2       False  Southampton   yes   True
3       False  Southampton   yes  False
4        True  Southampton    no   True